<div class="clr-row">
    <!-- Components Panel -->
    <div class="clr-col-3">
      <div class="card">
        <div class="card-header">
          Components
        </div>
        <div class="card-block">
          <div cdkDropList [cdkDropListData]="availableComponents" 
               [cdkDropListConnectedTo]="['form-fields']"
               class="components-list">
            <div *ngFor="let component of availableComponents" 
                 class="component-item" 
                 cdkDrag>
              {{ component.label }}
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Form Preview -->
    <div class="clr-col-6">
      <div class="card">
        <div class="card-header">
          Form Preview
          <div class="btn-group btn-sm">
            <button class="btn btn-sm btn-outline" (click)="previewForm()">
              Preview
            </button>
            <button class="btn btn-sm btn-outline" (click)="exportJson()">
              Export JSON
            </button>
          </div>
        </div>
        <div class="card-block">
          <div cdkDropList 
               #formFields="cdkDropList"
               [cdkDropListData]="formFields"
               class="form-fields"
               (cdkDropListDropped)="drop($event)">
            <div *ngFor="let field of formFields" 
                 class="field-item" 
                 cdkDrag>
              <fr-input
                [name]="field.name"
                [label]="field.label"
                [controlType]="field.type"
                [required]="field.required"
                [placeholder]="field.placeholder"
                [cssHostClass]="field.cssHostClass"
                [options]="field.options">
              </fr-input>
              <div class="field-actions">
                <button class="btn btn-sm btn-link" (click)="editField(field)">
                  <clr-icon shape="pencil"></clr-icon>
                </button>
                <button class="btn btn-sm btn-link" (click)="removeField(field)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Properties Panel -->
    <div class="clr-col-3">
      <div class="card" *ngIf="selectedField">
        <div class="card-header">
          Properties
        </div>
        <div class="card-block">
          <form #propertyForm="ngForm">
            <div class="clr-form-control">
              <label class="clr-control-label">Label</label>
              <input type="text" 
                     class="clr-input" 
                     [(ngModel)]="selectedField.label" 
                     name="label">
            </div>
            <div class="clr-form-control">
              <label class="clr-control-label">Required</label>
              <div class="clr-toggle-wrapper">
                <input type="checkbox" 
                       class="clr-toggle" 
                       [(ngModel)]="selectedField.required" 
                       name="required">
              </div>
            </div>
            <!-- Add more property fields as needed -->
          </form>
        </div>
      </div>
    </div>
  </div>