<!-- <div class="form-designer">
    <div class="form-designer__grid">
      <app-control-panel
        class="form-designer__control-panel"
        (controlDropped)="onFieldDrop($event)">
      </app-control-panel>
  
      <app-design-canvas
        class="form-designer__canvas"
        [formFields]="formFields"
        [formData]="formData"
        [formSettings]="formSettings"
        (fieldSelected)="onFieldSelected($event)"
        (fieldDropped)="onFieldDrop($event)">
      </app-design-canvas>
  
      <app-properties-panel
        class="form-designer__properties"
        [selectedField]="selectedField"
        (fieldUpdated)="onFieldUpdated($event)"
        (optionAdded)="onOptionAdded()"
        (optionRemoved)="onOptionRemoved($event)"
        (optionUpdated)="onOptionUpdated($event)">
      </app-properties-panel>
    </div>
  
    <app-json-preview
      [formFields]="formFields"
      (jsonUpdated)="onJsonUpdated($event)"
      (downloadRequested)="downloadJson()">
    </app-json-preview>
  </div>
   -->